/* ANIMATION LOADING PAGE */

@-webkit-keyframes loading {
	0% {
		opacity: 1;
		bottom: 0;
	}
	99% {
		opacity: 0;
		bottom: 0;
	}
	100% {
		opacity: 0;
		bottom: 100%;
	}
}

@keyframes loading {
	0% {
		opacity: 1;
		bottom: 0;
	}
	99% {
		opacity: 0;
		bottom: 0;
	}
	100% {
		opacity: 0;
		bottom: 100%;
	}
}

@-webkit-keyframes beating {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

}

@keyframes beating {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	25% {
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	50% {
		-webkit-transform: rotate(0);
		transform: rotate(0);	
	}
	75% {
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		}
}

@keyframes trois_points {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

div.loading {
	position: fixed;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	background-color: rgba(0,0,0,0.5);
	color: var(--color-tertiary);
	-webkit-animation-name: loading;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
	-webkit-animation-duration: 0.5s;	
	-webkit-animation-delay: 1.5s;
    animation-name: loading;
    animation-timing-function: ease;
    animation-fill-mode: forwards;	
	animation-duration: 0.5s;
	animation-delay: 1.5s;
}

div.loading i {
	font-size: 3em;
	margin-bottom: 1em;
	-webkit-animation-name: beating;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 0.4s;	
    animation-name: beating;
    animation-timing-function: linear;
    animation-fill-mode: forwards;	
	animation-iteration-count: infinite;
	animation-duration: 0.4s;
}

div.loading h3 span {
	opacity: 0;
	-webkit-animation-name: trois_points;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
	-webkit-animation-duration: 0.5s;
    animation-name: trois_points;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
	animation-duration: 0.5s;
}

div.loading h3 span:nth-child(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

div.loading h3 span:nth-child(2) {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

div.loading h3 span:nth-child(3) {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

/* ANIMATION PAGES MENU*/

@-webkit-keyframes fading_entrance {
	0% {
		opacity: 0;
		margin-top: 20px;
	}
	10% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		margin-top: 0;
	}
}

@keyframes fading_entrance {
	0% {
		opacity: 0;
		margin-top: 20px;
	}
	10% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		margin-top: 0;
	}
}

main.menu > div > div:nth-child(n + 2), main.menu > div > div > div:nth-child(n + 2) {
	-webkit-animation-name: fading_entrance;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-name: fading_entrance;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

main.menu > div > div:nth-child(n + 2) {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;	
}
main.menu > div > div > div:nth-child(n + 2) {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}