/* STYLE GENERAL
================================================== */
/* FONTS & COLORS */
/* GENERALITES */
/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

/* General */
html, body {
  width: 100%;
  height: 100%;
  font-size: 100%; }

body {
  background-color: #353535; }

h1 {
  font-size: 1.6em;
  font-weight: bold; }

h2 {
  font-size: 1.4em;
  font-weight: bold; }

h3 {
  font-size: 1.2em;
  font-weight: bold; }

h1 {
  font-family: 'Shrikhand', cursive; }

h2, h3, p, a {
  font-family: 'Roboto', sans-serif; }

p {
  font-size: 1em;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

/* BOUTONS */
button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 10%;
  box-shadow: 0 5px 10px #C0C0C0;
  border-radius: 25px;
  border: none;
  font: normal 1em 'Roboto', sans-serif;
  text-align: center;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  button:hover {
    box-shadow: 0 4px 5px #C0C0C0;
    filter: brightness(1.1); }

/* MAIN */
main {
  margin-top: 80px;
  box-sizing: border-box; }

/* Localisation */
.localisation {
  height: 50px;
  background-color: #eaeaea; }
  .localisation i {
    margin-right: 0.5em; }

/* Explorer nos restaurants */
.presentation {
  min-height: 300px;
  text-align: center;
  background-color: #f6f6f6; }

/* Fonctionnement */
.fonctionnement {
  align-items: unset;
  background-color: white; }
  .fonctionnement > div {
    position: relative;
    box-sizing: border-box;
    padding: 0 0 0 15px;
    margin: 5% 0;
    width: 100%;
    height: 80px;
    cursor: pointer; }
    .fonctionnement > div > div:nth-child(1) {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 5% 0 30px;
      border-radius: 20px;
      background-color: #f6f6f6;
      box-shadow: 0 5px 10px #C0C0C0;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      .fonctionnement > div > div:nth-child(1) i {
        margin-right: 0.5em;
        -webkit-transition: all 0.4s;
        transition: all 0.4s; }
    .fonctionnement > div > div:nth-child(2) {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 25px;
      left: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #9356DC;
      color: white; }
    .fonctionnement > div:hover > div:nth-child(1) {
      background-color: rgba(147, 86, 220, 0.2); }
    .fonctionnement > div:hover i {
      color: #9356DC; }

/* Restaurants */
.restaurant {
  background-color: #f6f6f6;
  align-items: unset; }
  .restaurant > a {
    box-sizing: border-box;
    min-height: 200px;
    margin: 5% 0;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 10px #C0C0C0; }

.card__picture {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.card__text {
  padding: 5%; }
  .card__text > div {
    position: relative; }
    .card__text > div > div {
      position: absolute;
      top: 0;
      right: 0;
      width: 2em;
      height: 100%;
      overflow: hidden; }
      .card__text > div > div > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden; }
        .card__text > div > div > div i {
          width: 100%;
          font-size: 1.8em;
          background: -webkit-linear-gradient(#9356dc 0%, #ff79da 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
        .card__text > div > div > div:nth-child(1) {
          max-width: 0;
          -webkit-transition: all 0.4s;
          transition: all 0.4s; }
      .card__text > div > div:hover > div:nth-child(1) {
        max-width: 100px; }

/*  photos des menus */
.card__picture.palette, main.menu.palette::before {
  background-image: url("../images/restaurants/miniatures/la-palette-du-gout.jpg"); }

.card__picture.note, main.menu.note::before {
  background-image: url("../images/restaurants/miniatures/la-note-enchantee.jpg"); }

.card__picture.francaise, main.menu.francaise::before {
  background-image: url("../images/restaurants/miniatures/a-la-francaise.jpg"); }

.card__picture.delice, main.menu.delice::before {
  background-image: url("../images/restaurants/miniatures/le-delice-des-sens.jpg"); }

/* MAIN PAGE MENUS */
.menu {
  padding: 200px 0 0 0; }
  .menu::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 240px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; }
  .menu h1 {
    box-sizing: border-box;
    position: relative;
    padding-right: 1.6em;
    margin-bottom: 1.5em;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .menu h1 span {
      position: absolute;
      right: 0; }
  .menu section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    padding: 5% 5% 2em 5%; }
  .menu article {
    margin-bottom: 1.5em;
    width: 100%; }
    .menu article > h2 {
      position: relative;
      text-transform: uppercase;
      padding-bottom: 0.5em;
      margin-bottom: 1em;
      font-weight: normal; }
      .menu article > h2::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 50px;
        background-color: #99E2D0; }

.plat {
  box-sizing: border-box;
  height: 60px;
  padding: 0 0 0 5%;
  margin-bottom: 1em;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  align-items: center;
  background-color: white;
  box-shadow: 0 5px 10px #C0C0C0;
  cursor: pointer; }
  .plat > div:nth-child(1) {
    flex: 1 1 auto;
    min-width: 0; }
    .plat > div:nth-child(1) p, .plat > div:nth-child(1) h3 {
      line-height: 25px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .plat > div:nth-child(2) {
    width: 70px;
    flex: 0 0 auto;
    text-align: center; }
    .plat > div:nth-child(2) p {
      font-weight: bold;
      line-height: 25px; }
  .plat > div:nth-child(3) {
    width: 60px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 0;
    height: 100%;
    color: white;
    background-color: #99E2D0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
    .plat > div:nth-child(3) i {
      font-size: 1.5em; }
  .plat:hover > div:nth-child(3) {
    max-width: 60px; }
    .plat:hover > div:nth-child(3) i {
      -webkit-animation: rotate .4s;
      animation: rotate .4s; }

main.menu article {
  opacity: 0;
  -webkit-animation-name: fading_entrance;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-name: fading_entrance;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }
main.menu .plat {
  opacity: 0;
  -webkit-animation-name: fading_entrance;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-name: fading_entrance;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }
main.menu article.entrees, main.menu article.entrees .plat {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
main.menu article.plats, main.menu article.plats .plat {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }
main.menu article.desserts, main.menu article.desserts .plat {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

/* LOAGING SPINNER */
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  color: #99E2D0;
  -webkit-animation-name: loading;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.5s;
  animation-name: loading;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 1.5s; }
  .loading i {
    font-size: 3em;
    margin-bottom: 1em;
    -webkit-animation-name: beating;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 0.4s;
    animation-name: beating;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 0.4s; }
  .loading h3 span {
    opacity: 0;
    -webkit-animation-name: trois_points;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 0.5s;
    animation-name: trois_points;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: 0.5s; }
    .loading h3 span:nth-child(1) {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    .loading h3 span:nth-child(2) {
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }
    .loading h3 span:nth-child(3) {
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s; }

/* FOOTER */
footer {
  position: relative;
  padding: 5%;
  background-color: #353535;
  color: white; }
  footer p {
    margin-bottom: 0.6em; }
  footer > p {
    font-family: 'Shrikhand', cursive;
    margin-bottom: 1em; }
  footer i {
    width: 1.6em; }
  footer a:hover {
    color: #99E2D0; }

/* KEY-FRAMES */
/* ANIMATION LOADING PAGE */
@-webkit-keyframes loading {
  0% {
    opacity: 1;
    bottom: 0; }
  99% {
    opacity: 0;
    bottom: 0; }
  100% {
    opacity: 0;
    bottom: 100%; } }
@keyframes loading {
  0% {
    opacity: 1;
    bottom: 0; }
  99% {
    opacity: 0;
    bottom: 0; }
  100% {
    opacity: 0;
    bottom: 100%; } }
@-webkit-keyframes beating {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes beating {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  25% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  75% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg); }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0); } }
@keyframes trois_points {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* ANIMATION ARRIVEE PAGE MENU*/
@-webkit-keyframes fading_entrance {
  0% {
    opacity: 0;
    transform: translatey(25px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translatey(0); } }
@keyframes fading_entrance {
  0% {
    opacity: 0;
    transform: translatey(25px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translatey(0); } }
/* ANIMATION PLATS */
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style_general.css.map */
