/* STYLE MOBILE
================================================== */

/* TEST */

body {
	/*background-image: url('../images/Accueil.png');*/
	background-position: top center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

/* GENERAL */

header, section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	padding: 5%;
}

/* HEADER */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	box-shadow: 0 0 10px grey;
	background-color: white;
	z-index: 999;
}

header a, header h1 {
	margin: 0;
}

/* MAIN PAGE ACCUEIL */

main {
	box-sizing: border-box;
	min-height: 100vh;
	margin: 80px 0 0 0 ;
}

/* Localisation */

main section:nth-child(1) {
	height: 50px;
	background-color: var(--gris-moyen);
}

/* Explorer nos restaurants */

main section:nth-child(2) {
	height: 300px;
	text-align: center;
	background-color: var(--gris-clair);
}

/* Fonctionnement */

main section:nth-child(3) {
	align-items: unset;
}

main section:nth-child(3) > div {
	position: relative;
	box-sizing: border-box;
	padding: 0 0 0 15px;
	margin: 5% 0;
	width: 100%;
	height: 80px;
}

main section:nth-child(3) > div > div:nth-child(1) {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 5% 0 30px;
	border-radius: 20px;
	background-color: var(--gris-clair);
	box-shadow: 0 5px 10px var(--gris-normal);
	transition: all 0.4s;
}

main section:nth-child(3) > div > div:nth-child(1):hover {
	background-color: rgba(147,86,220,0.1)
}

main section:nth-child(3) > div > div:nth-child(1) i {
	transition: all 0.4s;
}

main section:nth-child(3) > div > div:nth-child(1):hover i {
	color: var(--color-primary);
}

main section:nth-child(3) > div > div:nth-child(2) {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 25px;
	left: 0;
	width:30px;
	height: 30px;
	border-radius: 50%;
	background-color: var(--color-primary);
	color: white;
}

/* Restaurants */

/*  backgrounds */

main section:nth-child(4) > a:nth-child(2) > div:nth-child(1) {
	background-image: url('../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
}

main section:nth-child(4) > a:nth-child(3) > div:nth-child(1) {
	background-image: url('../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
}

main section:nth-child(4) > a:nth-child(4) > div:nth-child(1) {
	background-image: url('../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
}

main section:nth-child(4) > a:nth-child(5) > div:nth-child(1) {
	background-image: url('../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
}

/* elements */ 

main section:nth-child(4) {
	background-color: var(--gris-clair);
	align-items: unset;
}

main section:nth-child(4) > a {
	box-sizing: border-box;
	min-height: 200px;
	margin: 5% 0;
	background-color: white;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 5px 10px var(--gris-normal);
}

main section:nth-child(4) > a > div:nth-child(1) {
	height: 200px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;	
}

main section:nth-child(4) > a > div:nth-child(2) {
	padding: 5%;
}

main section:nth-child(4) > a > div:nth-child(2) > div {
	position: relative;
}

main section:nth-child(4) > a > div:nth-child(2) > div > div {
	position: absolute;
	top: 0;
	right: 0;
	width: 2.1em;
	height: 100%;
	overflow: hidden;
}

main section:nth-child(4) > a > div:nth-child(2) > div > div > div {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

main section:nth-child(4) > a > div:nth-child(2) > div > div > div i {
	font-size: 2em;
	background: -webkit-linear-gradient(rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

main section:nth-child(4) > a > div:nth-child(2) > div > div > div:nth-child(1) {
	max-width: 0;
	transition: all 0.4s;
}

main section:nth-child(4) > a > div:nth-child(2) > div > div:hover > div:nth-child(1) {
	max-width: 100px;
}

/* MAIN LES MENUS */

main.menu {
	padding: 200px 0 0 0;
}

main.menu::before {
	content: "";
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	height: 240px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
}

main.menu.palette::before {
	background-image: url('../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
}

main.menu > div {
	background-color: white;
	border-radius: 40px 40px 0 0;
	padding: 5%;
}



/* FOOTER */

footer {
	padding: 5%;
	background-color: var(--gris-fonce);
	color: white;
}

footer p {
	margin-bottom: 0.4em;
}

footer > p:first-child {
	font-family: 'Shrikhand', cursive;
	margin-bottom: 0.8em;
}