/* Localisation */

.localisation {
	height: 50px;
	background-color: $gris-moyen;
	i {
		margin-right: 0.5em;
	}
}

/* Explorer nos restaurants */

.presentation {
	min-height: 300px;
	text-align: center;
	background-color: $gris-clair;
}

/* Fonctionnement */

.fonctionnement {
	align-items: unset;
    background-color: white;
    article {
        position: relative;
        box-sizing: border-box;
        padding: 0 0 0 15px;
        margin: 5% 0;
        width: 100%;
        height: 80px;
        cursor: pointer;
        h3 {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 5% 0 30px;
            border-radius: 20px;
            background-color: $gris-clair;
            box-shadow: 0 5px 10px $gris-normal;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            i {
                margin-right: 0.5em;
                -webkit-transition: all 0.4s;
                transition: all 0.4s;
            }
        }
        p {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 25px;
            left: 0;
            width:30px;
            height: 30px;
            border-radius: 50%;
            background-color: $color-primary;
            color: white;
        }
        &:hover {
            h3 {
                background-color: color-primary--opacity(0.2);
            }
            i {
                color: $color-primary; 
            }
        }
    }
}

/* Restaurants */

.restaurant {
	background-color: $gris-clair;
    align-items: unset;
    > a {
        box-sizing: border-box;
        min-height: 200px;
        margin: 5% 0;
        background-color: white;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 5px 10px $gris-normal;
    }
}

.card__picture {
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;	     
}
.card__text {
    margin: 5%;
    position: relative;        
    p {
        position: absolute;
        top: 0;
        right: 0;
        width: 2em;
        height: 100%;
        overflow: hidden;
        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            i {
                width: 100%;
                font-size: 1.8em;
                background: -webkit-linear-gradient(rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &:nth-child(1) {
                max-width: 0;
                -webkit-transition: all 0.4s;
                transition: all 0.4s;
            }
        }
        &:hover > span:nth-child(1) {
            max-width: 100px;
        }
    }
}

/*  photos des menus */

.card__picture.palette, .menu.palette::before {
	background-image: url('../images/restaurants/miniatures/la-palette-du-gout.jpg');
}

.card__picture.note, .menu.note::before {
	background-image: url('../images/restaurants/miniatures/la-note-enchantee.jpg');
}

.card__picture.francaise, .menu.francaise::before {
	background-image: url('../images/restaurants/miniatures/a-la-francaise.jpg');
}

.card__picture.delice, .menu.delice::before {
	background-image: url('../images/restaurants/miniatures/le-delice-des-sens.jpg');
}